<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>translator</title>
   <!-- Google Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@700&display=swap" rel="stylesheet">

 <!-- CSS Stylesheets -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <link href="/css/style3.css" rel="stylesheet" type="text/css">

 <!-- Font Awesome -->
 <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

 <!-- Bootstrap Scripts -->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--voice--> 
<script type="text/javascript" src="https://code.responsivevoice.org/responsivevoice.js"></script>
</head>
<body>


<div class="container">
  
    
    <h3 class="text-center">
     Gynecology
    </h3>
    <form action="/Gynecology" method="post">
     
      <div class="form-group">
        <label for="format">Select a Language:</label>
        <select class="form-control" name="language" id="">
            <option value="af">Afrikaans</option>
            <option value="sq">Albanian</option>
            <option value="ar">Arabic</option>
            <option value="hy">Armenian</option>
            <option value="ca">Catalan</option>
           
            <option value="hr">Croatian</option>
            <option value="cs">Czech</option>
            <option value="da">Danish</option>
            <option value="nl">Dutch</option>
            <option value="en" selected>English</option>
            <option value="en-au">English (Australia)</option>
            <option value="en-uk">English (United Kingdom)</option>
            <option value="en-us">English (United States)</option>
            <option value="eo">Esperanto</option>
            <option value="fi">Finnish</option>
            <option value="fr">French</option>
            <option value="de">German</option>
            <option value="el">Greek</option>
            <option value="ht">Haitian Creole</option>
            <option value="hi">Hindi</option>
            <option value="hu">Hungarian</option>
            <option value="is">Icelandic</option>
            <option value="id">Indonesian</option>
            <option value="it">Italian</option>
            <option value="ja">Japanese</option>
            <option value="ko">Korean</option>
            <option value="la">Latin</option>
            <option value="lv">Latvian</option>
            <option value="mk">Macedonian</option>
            <option value="no">Norwegian</option>
            <option value="pl">Polish</option>
            <option value="pt">Portuguese</option>
            <option value="pt-br">Portuguese (Brazil)</option>
            <option value="ro">Romanian</option>
            <option value="ru">Russian</option>
            <option value="sr">Serbian</option>
            <option value="sk">Slovak</option>
            <option value="es">Spanish</option>
            <option value="es-es">Spanish (Spain)</option>
            <option value="es-us">Spanish (United States)</option>
            <option value="sw">Swahili</option>
            <option value="sv">Swedish</option>
            <option value="ta">Tamil</option>
            <option value="th">Thai</option>
            <option value="tr">Turkish</option>
            <option value="vi">Vietnamese</option>
            <option value="cy">Welsh</option>
        </select>
    </div>
    
    <div class="row ">
        <div class="form-group col-lg-12">
            <label for="speech">Write Text:</label>
           
            <select class="form-control" name="speech" required id=""cols="1" rows="1" >
              <option value="scroll to get your sentence">  scroll to get your sentence </option>
              <option value="Have you been pregnant before ">Have you been pregnant before</option>
              <option value="I will listen for the baby heartbeat">I will listen for the baby heartbeat </option>
              <option value="Intercourse">Intercourse</option>
              <option value="Contraceptives">Contraceptives</option>
              <option value="Menstruation">Menstruation</option>
             <option value="You have had a miscarriage">You have had a miscarriage</option>
              <option value="do you want a massage">do you want a massage</option>
              <option value="have you had cramps anywhere in your body">have you had cramps anywhere in your body</option>
              <option value="Do you have any medical conditions">Do you have any medical conditions</option>
              <option value="if the discharged blood smells bad and there is a fever go to the hospital">if the discharged blood smells bad and there is a fever go to the hospital</option>
              <option value="can you feel one or several lumps in your breast?" >can you feel one or several lumps in your breast?</option>
              <option value="Are you breastfeeding">Are you breastfeeding</option>
              <option value="Do you give the baby Formula">Do you give the baby Formula</option>
            </select>
        </div>
        </div>
      </br>
       <div class="col-lg-12">
         <div class="input-group ">
          <label for="translated"></label>
        <input class="form-control left-border-none " name="translated" id="txt" cols="1" rows="2" value="<%=translated%>"/> 
         <span class="input-group-addon transparent">
         <button><i class=" icon fas fa-volume-up " onclick="speakText()" ></i></span></button>
     
          <script>
              function speakText(){
                  var text = document.getElementById('txt').value;
                  responsiveVoice.speak(text);
                  
              }
          </script>
           </div>
           </div>
          </br>
        
          <div  class="form-group col-lg-12" >
            <button class="btn btn-danger btn-block" > Translate </button>
      </div>
  </div>
    
   
  </form>

  <br><br>
  
  </body>
  </html>