<!DOCTYPE html>
<html>

        <head>
          <meta charset="utf-8">
          <title>Chousnellor Medical Translator</title>

          <!-- Favicon-->
          <link rel="icon" href="images/favicon.ico">

 <!-- Google Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@700&display=swap" rel="stylesheet">

 <!-- CSS Stylesheets -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <link rel="stylesheet" href="css/style.css">

 <!-- Font Awesome -->
 <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

 <!-- Bootstrap Scripts -->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

          </head>
       <body >
         <header>
        <section class="colored-section" id="title">

            <div class="container-fluid" href="/home">
        
              <!-- Nav Bar -->
              <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
               

            <img class="navbar-brand" src="images/logo3.png" alt="logo">
    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#about">About us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#features">Why Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact">contact us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#scripts">Translated sentences</a>
                  </li>
              </ul>
    
            </div>
          </nav>
        </header>
           <!-- Title -->
<!--
           <div class="row">

            <div class="col-lg-6">
              <h1 class="big-heading">Meet new and interesting dogs nearby.</h1>
              <button type="button" class="btn btn-dark btn-lg download-button"><i class="fab fa-apple"></i> Download</button>
              <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fab fa-google-play"></i> Download</button>
            </div>
    
            <div class="col-lg-6">
              <img class="title-image" src="images/iphone6.png" alt="iphone-mockup">
            </div>
    
          </div>
    
        </div>
-->
  </section>

   <!--ABOUT US-->
   <section  class="colored-section" id="about">
     <div class="container-fluid">
      <div class="row">
        <div class="about col-lg-6">
          <p>Chousnellor is a Web application that  helps interpreters and doctors perform their job with easy, in a short period of time and with no language barrier, the user can be able to explain well to the patient what exactly they are trying to say just by clicking to the right place and getting the right script 
          </p>
     </div>
     <div class="about col-lg-6">
      <img class=" title-image" src="images/photo1.jpg" alt="person on the phone">
       </div>
   </section>
   <!-- Features -->

   <section class="white-section" id="features">

    <div class="container-fluid">

      <div class="row">
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-check-circle fa-4x"></i>
          <h3 class="feature-title">Easy to use.</h3>
          <p>Chousnellor is very easy to use ,even people who are not used to Web application can use it</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class=" icon fas fa-pound-sign fa-4x"></i>
          <h3 class="feature-title">Help Saving </h3>
          <p>Chousnellor help you save ,since it doesn't cost anything </p>
        </div>

        <div class="feature-box col-lg-4">
          <i class=" icon fas fa-download fa-4x"></i>
          <h3 class="feature-title">Doesn't require any download </h3>
          <p>chousnellor is a web application and doesn't require to download anything ,or to go on your phone while interpreting ,it is just a click away
          </p>
        </div>
      </div>


    </div>
  </section>
  <!--Script-->
  
  <section class="white-section" id="scripts">

    <div id="script-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
          <div class="row">
          <div class="script-box col-lg-3 col-md-4 col-sm-6">
            <img class="script-image" src="images/symp pic.png" alt="Symptoms">
            <h3 class="script-title">Symptoms </h3>
          </div>
  
          <div class="script-box col-lg-3 col-md-4 col-sm-6">
            <img class="script-image" src="images/Nerfs.png" alt="Nerfs">
         
            <h3 class="script-title">Pain and Neurology </h3>
        </div>
        <div class="script-box col-lg-3 col-md-4 col-sm-6">
         
          <img class="script-image" src="images/Dental Care.png" alt="Dental">
          <h3 class="script-title">Dental care </h3>
      </div>
      <div class="script-box col-lg-3 col-md-4 col-sm-6">
        <img class="script-image" src="images/Diagnosis.png" alt="Diagnosis">
        <h3 class="script-title">Diagnosis and Information </h3>
    </div>
    </div>
  </div>


        <div class="carousel-item container-fluid">
          <div class="row">
          <div class="script-box col-lg-3">
          
            <img class="script-image" src="images/Medications.png" alt="Meds">
            <h3 class="script-title">Medication </h3>
          </div>
  
          <div class="script-box col-lg-3">
           
            <img class="script-image" src="images/Radiology.png" alt="Radiology">
            <h3 class="script-title">Radiology </h3>
        </div>
        <div class="script-box col-lg-3">
          <img class="script-image" src="images/vaccins.png" alt="vaccins">
          <h3 class="script-title">Vaccins </h3>
      </div>
      <div class="script-box col-lg-3">
       
        <img class="script-image" src="images/Gynecology2.png" alt="Gynecology">
        <h3 class="script-title">Gynecology </h3>
    </div>
    </div>
    </div>

       
    <div class="carousel-item container-fluid">
      <div class="row">
      <div class="script-box col-lg-3">
       
        <img class="script-image" src="images/general terms.png" alt="general terms">
        <h3 class="script-title" >General Terms </h3>
      </div>

      <div class="script-box col-lg-3">
     
        <img class="script-image" src="images/Covid-19.png" alt="Covid-19">
        <h3 class="script-title">Corona Virus </h3>
    </div>
    <div class="script-box col-lg-3">
     
      <img class="script-image" src="images/samples.png" alt="samples">
      <h3 class="script-title" action="/Examination" >Examinations and Samples </h3>
  </div>
  <div class="script-box col-lg-3">
    
    <img class="script-image" src="images/surgery.png" alt="surgery">
    <h3 class="script-title" href="/surgery.ejs">Surgery </h3>
</div>
  </div>
  </div>
<a class="carousel-control-prev" href="#script-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#script-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    </div>

  </section>

   <!-- Footer -->
    
   <section class="white-section" id="contact" >
   <div class="container-fluid" >
   <div class="contact-msg" >
   <h2 >Contact us </h2>
    <p >we would be more than happy to hear from you ,in case of any question feel free to contact us</br>
    +254745063647|kanyonga.chouell@gmail.com</p>
    <a class="btn" href="mailto:kanyonga.chouell@gmail.com">send</a></br>
  </div>
</div>
    </section>
<footer  id="footer">
 
  
    <i class="social-icon fab fa-facebook-f"></i>
    <i class="social-icon fab fa-twitter"></i>
    <i class="social-icon fab fa-instagram"></i>
    <i class="social-icon fas fa-envelope"></i></br>
  
    <p >© Copyright 2021 Chousnellor Medical Translator</p>
</div>
</footer>
</body> 
</html>